<!-- NAVIGATION ON THE LEFT -->
<aside id="left-panel" class="left-panel">
   <%- include('./partials/nav.ejs') %>
</aside>
<!-- NAVIGATION AT THE TOP -->
<div id="right-panel" class="right-panel">
   <!-- Header-->
   <%- include('./partials/header.ejs') %>



   <div class="content">

      <div class="animated fadeIn">
         <!-- Widgets  -->
         <div class="row">
            <div class="col-lg-3 col-md-6">
               <div class="card">
                  <div class="card-body">
                     <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                           <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                           <div class="text-left dib">
                              <div class="stat-text">$<span class="count">23569</span></div>
                              <div class="stat-heading">Revenue</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="card">
                  <div class="card-body">
                     <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                           <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                           <div class="text-left dib">
                              <div class="stat-text">$<span class="count">23569</span></div>
                              <div class="stat-heading">Revenue</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>